* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins';
}


.container {
    max-width: 1440px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
}

    // Header styles
    .header__container {
        display: flex;
        justify-content: space-between;
    }
    
    .header__container .Logo img {
        width: 110px;
    }
    
    .header__container .nav ul {
        list-style: none;
        display: flex;
        gap: 30px;
    }

    .header__container .nav ul li a {
        color: #1E255E;
        text-align: right;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-decoration: none;

        transition: all 0.5s;
    }

    .header__container .nav ul a:hover {
        color: #0082F4;
    }

    .header__container .button {
        border-radius: 100px;
        background: #3C4EF3;
        padding: 11px 23px 10px 26px;
        border: none;

        color: #FFF;
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        cursor: pointer;
        text-decoration: none;

        transition: all 0.5s;
    }

    .header__container .button:hover {
        background: #10497a;
    }

    //   Main styles
.main {
    padding-top: 100px;
}   

.main__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main__container .main-text h1 {
    color: #1E255E;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 540px;
    padding-bottom: 91px;
    padding-bottom: 10px;
}

.main__container .main-text p {
    color: rgba(30, 37, 94, 0.70);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 50px;
}

.main__container .button-group {
    display: flex;
    gap: 20px;
}

.main__container .button-group .apple {
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 100px;
    padding: 19px 35px;
    background: rgba(60, 78, 243, 0.1);
    cursor: pointer;
    transition: all 0.5s;
}

.main__container .button-group .apple:hover {
    color: azure;
    background: #0a4d8c;
}

.main__container .button-group .google-play {
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 100px;
    padding: 19px 33px;
    background: rgba(60, 78, 243, 0.1);
    cursor: pointer;
    transition: all 0.5s;
}

.main__container .button-group .google-play:hover {
    color: azure;
    background: #0a4d8c;
}

.main__container .main-img img {
    background: white;
    padding-top: 70px;
}




